.pro_img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-group{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.profile-picture{
    cursor: pointer;
}

.profile-group h2{
    font-size: 28px;
    font-weight: 600;
}

.profile-group h5{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.384);
}

.pw-visible {
    position: relative;
}

.inputs {
    position: relative;
}

#toggle-password {
    position: absolute;
    right: 10px;
    top: 55%;
    cursor: pointer;
}

#toggle-conf-password {
    position: absolute;
    right: 10px;
    top: 55%;
    cursor: pointer;
}

input[type="password"] {
    width: 100%;
    padding-right: 35px;
}