#vehicle-staff,
#equipment-field{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 38px;
    width: 100%;
    padding: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
}

.select2-container {
    width: 100% !important;
}

/* Selected item background color */
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #026664 !important;
    color: white !important;
}

/* Placeholder text color */
.select2-container--default .select2-selection__placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
}

/* Adjust the font size and color for the dropdown */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 11px;
    color: #444 !important;
}

/* Customize dropdown menu border */
.select2-container--default .select2-dropdown {
    border: none;
    border-radius: 10px;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px !important;
    right: 2px !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 150px !important;
}
