#vehicle-staff,
#equipment-field,
#equipment_type{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 38px;
    width: 100%;
    padding: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #026664 !important;
    color: white !important;
}

.select2-container--default .select2-selection__placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 11px;
    color: #444 !important;
}

.select2-container--default .select2-dropdown {
    border: none;
    border-radius: 10px;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px !important;
    right: 2px !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 150px !important;
}

#vehicle_staff,
#equipment_staff_btn{
    background-color: #026664af;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.popup-content h3{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: end;
}

.popup-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-buttons #assignConfirm {
    background-color: #4CAF50;
    color: white;
}

.popup-buttons #assignCancel {
    background-color: #f44336;
    color: white;
}

.vehiId{
    margin-bottom: 20px;
}
